body {
  background-color: #333;
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #666;
  display: flex;
  align-items: center;
  font-family: 'Playfair Display', serif;
}

nav ul {
  list-style: none;
  float: right;
  margin-left: auto;
}

nav li {
  display: inline;
  font-size: 170%;
}

nav li a {
  text-decoration: none;
  color: #FFF;
  padding: 1.25em;
}

nav li a:hover {
  background-color: #555;
  border-radius: 0.25em;
  padding: 1.25em;
}
